---

debug: False  # Set this to True or False based on your needs

# By default, Forward adds and updates devices, adds interfaces, device types, sites, etc. to NetBox.
# Set the following flags to False if you do not want Forward to add or update them
add_sites: True            # Forward Locations
add_manufacturers: True    # Forward Vendors
add_device_roles: True     # Forward Device Types
add_device_types: True     # Forward Models
add_devices: True          # Forward Devices
add_interfaces: True       # Forward Interfaces

forward:
  host: <fwd Enterprise URL>                      # Make sure to include the https:// prefix
                                                  # For SaaS deployment set it to https://fwd.app
  authentication: Basic <basic auth b64enc here>  # For details, refer to https://fwd.app/api-doc#authentication
                                                  # Make sure to keep the keyword Basic
  network_id: <Network id>                        # You can find the network_id in the Forward UI URL
                                                  # (e.g. https://fwd.app/?/search?networkId=170256)
  timeout: 30                                     # Forward APIs timeout
  nqe:
    # Do not change the NQE query IDs below unless you want to use your own NQE Queries and Python script
    device_models_query_id: FQ_b28e7cde85cd0ce72d08dc4ab92ba66d6067f4d4
    device_types_query_id: FQ_64a3a84cd27d225e5dd22e44a7e8d2f98d513a44
    vendors_query_id: FQ_dfa37b83121f84406e6da206365a4d4294f0ccaa
    devices_query_id: FQ_837817437f52a25bcfb88fe2b789040af9d44daa
    interfaces_query_id: FQ_97bcba26a420b4ed948bbd5d9c628e17150979e7
    locations_query_id: FQ_7327e06da074e257fffe3b4968b8986c85dcd4e9

netbox:
  host: <NetBox instance URL>              # Make sure to include the https:// prefix
  # For details about NetBox API Tokens, refer to https://demo.netbox.dev/static/docs/rest-api/authentication/#tokens
  authentication: Token <auth token here>  # Make sure to keep the keyword Token before the actual token
  timeout: 90                              # NetBox APIs timeout